#page-orphanages {
    width: 100%;
    height: 100%;

    display: flex;
}

aside {
    width: clamp(24rem, 25vw, 44rem);
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
    padding: clamp(4rem, 5vw, 8rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    margin-top: 2.4rem;

    font: 800 clamp(2rem, 5vw, 3.6rem)/1.05 'nunito', sans-serif;
}

aside p {
    margin-top: 2.4rem;
    font: 400 1.6rem/1.1 'nunito' sans-serif;
}

aside footer p {
    margin-top: 1rem;
}

#mapid {
    width: 100%;
    height: 100%;
    animation-delay: 400ms;
}

/* button */

a.create-orphanage {z-index: 9999;
    position: absolute;
    right: 4rem;
    bottom: 4rem;


    width: 6.4rem;
    height: 6.4rem;
    background: #15c3d6;
    border: 0;
    border-radius: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;

    transition: background 1s,
    transform 500ms;
}
a.create-orphanage:hover {
    background: #17d6eb;
    transform: scale(1.2,1.2);
}


.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}
.leaflet-popup-content {
    color: #00b0d3;
    font: 700 2rem/1 'nuniuto', sans-serif;
    margin: .8rem 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #15C3D6;
    box-shadow: 17.2828px 27.65px 41.48px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;
}
.leaflet-popup-content a:hover{background: #17D6EB;}
.leaflet-popup-tip {display: none;}
.leaflet-container {z-index: 5;}

